{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <div class="container darkII mt-5 mb-2">

        <div class="container">
  
  
  
          <div class="featurette  mt-4 padding">
  
  
  
  
            <h1>   
             <i>{{ curso.nombre }}</i></h1>
  
            <h3 class=" mt-4">     <p>Camada: <i>{{ curso.camada }}</i></p>
            </h3>
  
          </div>
  
  
  
          <div class="container padding darkII  ">
            <p><a class="w-50 btn btn-lg btn-primary" href="{% url 'List' %}" role="button">Regresar</a></p>
  
  
           
          </div>
  
  
        </div>
   
  
  
     
      </div>



    

    {% endblock %}