


{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <div class="container darkII mt-5 mb-2">

        <div class="container">
  
  
  
          <div class="featurette  mt-4 padding">
  

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="w-50 btn btn-lg btn-primary" type="submit" value="Enviar" />
            </form>
        
  
          </div>
          
   
  
  
  
          
  
           
          </div>
  
  
        </div>
   
  
  
     
      </div>



    

    {% endblock %}



